.diagonal-div {
    width: 100%;
    height: 400px; /* Visina diva */
    position: relative;
    overflow: hidden;
    margin-top: -400px; /* Primer pozicioniranja diva na 100px od vrha */
}
body{
    background-color: #f39c12;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Dodato svojstvo */


}



.pocetna {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 600px;
    /* z-index: 1; Postavljamo z-index da bude ispred pseudo-elementa */
}

.diagonal-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Boja koja pokriva donji deo dijagonalnog prelaza */
    transform-origin: bottom right;
    transform: skewY(30deg); /* Nagib diva */
    z-index: -1;
}
.pocetnadiv {
    background-color: #f39c12;
    margin-left: 20px;
    margin-top: 10px; /* Dodajte margine na vrhu kako biste spustili tekst */
    height: 50px;
    width: 200px;
    border-radius:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, sans-serif; /* Drugi font */
    color: white; /* Boja teksta */
}
.pocetnadiv1{
    background-color: #d5bdbd;
    margin-left: 180px;
    margin-top: -45px; /* Dodajte margine na vrhu kako biste spustili tekst */
    height: 40px;
    width: 200px;
    border-radius:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: Arial, sans-serif; /* Drugi font */
    color: white; /* Boja teksta */
    /* margin-top: 10px; */
}
.poseban{
 color: blue;
 margin-right: 5px;
 font-size: 15px;
}
a {
    text-decoration: none; /* Uklanja podvlačenje ispod linkova */
}
/* pocetna.css */

.tekst {
    margin: 60px; /* Prostor sa leve i desne strane teksta */
    font-weight: bold;
    font-size: 40px;
    text-align: center; /* Poravnavanje teksta na centar */

}


/* pocetna.css */

.ikonice-container {
    display: flex;
    justify-content: space-between; /* Rasporedi ikonice ravnomerno po širini */
    align-items: flex-start; /* Poravnaj ikonice i tekst gornjim delom */
    margin: 0 70px; /* Dodaj prostor sa leve i desne strane containeru */
    margin-top: 20px; /* Prostor između teksta i ikonica */
    padding: 20px; /* Dodaj unutrašnji prostor containeru */
    border-radius: 10px; /* Zaobljeni ivičnjaci containera */
    text-align: justify; /* Ravnomerno rasporedi tekst po širini */

}

.ikonica {
    flex-basis: 30%; /* Postavi širinu ikonice na 30% širine kontejnera */
    text-align: center; /* Centriraj tekst unutar ikonice */
    transition: transform 0.3s ease; /* Dodaj efekat tranzicije za povećanje */

}

.fa {
    font-size: 120px; /* Povećaj veličinu ikonice */
    margin-bottom: 20px; /* Povećaj prostor između ikonice i naslova */
}

/* Stilovi za naslove i opise ispod ikonica */
h3, p {
    margin: 10px 0;
    font-size: 20px; /* Dodaj prostor između naslova/opisa i drugih elemenata */
}
.poruka {
    font-size: 24px; /* Malo veća veličina fonta */
    line-height: 1.6; /* Visina linije */
    text-align: center; /* Centriranje teksta */
  
    box-shadow: 0px 4px 8px rgba(206, 165, 165, 0.1); /* Senka */
    font-family: 'Arial', sans-serif; /* Font familija */
}


.pocetna-opis {
    margin-top: 10px; /* Prostor između ikonica i opisa */
    font-size: 16px; /* Postavi manju veličinu teksta */
    line-height: 1.5; /* Postavi visinu linije za bolje čitljivost */
}
.ikon{
    font-size: 50px;
}

.ikonica:hover {
    transform: scale(1.1); /* Povećaj veličinu containera na hover */
}

.article-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.naslov-div {
    flex: 1 1 45%; /* Adjust width as needed */
    text-align: center;
    margin: 20px 10px;
    padding: 15px;
    background-color: #3498db;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 500px;
    height: 130px;
    box-shadow: 0px 8px 8px rgba(209, 137, 137, 0.1);
}

.naslov-div:hover {
    background-color: #2980b9;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.naslov-div a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.naslov-div a:hover {
    color: #f39c12;
}


.last-div {
    margin-top: 20px; /* Dodatni razmak iznad Pogledaj video linkova */
    display: inline-block; /* Postavljanje kao blok elementa da bi mogli da koristimo margin-top */
}


.h22{
    text-align: center; /* Centriranje teksta */
    font-size: 2.5em; /* Relativno velika veličina fonta */
    font-weight: bold; /* Podebljan tekst */
    margin: 20px 0; /* Margina iznad i ispod */
    position: relative; /* Relativni položaj za pseudo-element */
}

.h22::before {
    content: ''; /* Dodavanje pseudo-elementa */
    position: absolute; /* Apsolutni položaj */
    bottom: -5px; /* Položaj ispod naslova */
    left: 50%; /* Centriranje horizontalno */
    transform: translateX(-50%); /* Pomeranje unazad za 50% širine elementa */
    width: 50%; /* Širina ispod linije */
    height: 2px; /* Debljina linije */
   
}

.single-home-blog .card {
    transition: box-shadow 0.3s ease; /* Dodajemo tranziciju za glatko prelazak */

}

.single-home-blog .card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6); /* Dodajemo senku na hover */
    
}
